@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: GilroyRegular;
    font-weight: 400;
    src: url(./fonts/gilroy-regular.ttf) format("ttf");
  }
  @font-face {
    font-family: GilroySemibold;
    font-weight: 500;
    src: url(./fonts/gilroy-semibold.ttf) format("ttf");
  }
}
